<div class="col-6">
  <div class="mb-3">
    <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold " %>
  </div>
  
  <%= render 'shared/tweet_form' %>
  
  <%= render 'tweets' %>

</div>
<div class="col">
  Col3
</div>