<div class="col-7">
  <%= @tweet.body %>
  <div class="mb-3">
    <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
      <i class="bi bi-arrow-left me-4"></i>Tweet
    <% end %>
  </div>
</div>
<div class="col">
  Col3
</div>
