aside.side-navbar {
  #twitter-logo-link {
    color: #1DA1F2;
  }
  a {
    text-decoration: none;
    color: black;
    div {
      -moz-transition: all .1 ease-in;
      -o-transition: all .1 ease-in;
      -webkit-transition: all .1 ease-in;
      transition: all .1 ease-in;

      &:hover {
        background-color: $gray-200;
      }
    }
  }
  .black-icon {
    color: black;
  }
}