.tweet {
  -moz-transition: all .1 ease-in;
  -o-transition: all .1 ease-in;
  -webkit-transition: all .1 ease-in;
  transition: all .1 ease-in;

  &:hover {
    background-color: $gray-100;
    cursor: pointer;
  }

  .action-link {
    span {
      &:hover {
        color: $twitter-blue !important;
      }
    }

    &.views, &.replies, &.share {
      &:hover {
        color: $twitter-blue !important;
      }
    }
    &.retweet {
      &:hover {
        color: $green-300;
      }
    }
    &.likes {
      &:hover {
        color: $red-500;
      }
    }
  }
}